*{
  margin:0%;
  padding: 0;
  box-sizing: border-box;

}

html,
body,
#root{
  height : 100%;
  width : 100%;

}
html{
  background-color: #212121;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.note{
  background-color : #494949;
  padding:1rem;
  border-radius:1rem;
  max-width:20rem;
  color : white;
}
.notes{
  display :flex;
  gap:1rem;
  padding-inline:3rem;
  padding-block:2rem;
  
}